.header {
  width: 200px;
  height: 200px;
  background-color: pink;
}
.header a {
  background-color: red;
}
.header a:hover {
  color: blue;
}
.nav .logo {
  color: green;
}
.nav .logo::before {
  content: '1';
}
